@using SharedModels.DataService

<div class="flex flex-row items-center">
    <div class="basis-1/10 pl-8">
        @Password.Id
    </div>
    <div class="basis-2/10">
        @if (string.IsNullOrEmpty(Password.Value) || !Password.IsActive)
        {
            <input type="text" disabled value="********" class="h-10 py-2 w-50 pl-2 text-gray-100 bg-gray-500 w-full" />
        }
        else
        {
            <input type="text" value="@Password.Value" class="h-10 py-2 w-50 pl-2 text-gray-900 w-full bg-gray-200" />
        }        
    </div>
    @if (!string.IsNullOrEmpty(Password.Value))
    {
        <div class="basis-7/10">
            <SharePassword Password="@Password" RecordId="@RecordId" LockPassword="@LockPassword" />
        </div>
    }    
</div>

@code {
    [Parameter, EditorRequired]
    public DecryptedPassword Password { get; set; }
    [Parameter, EditorRequired]
    public int RecordId { get; set; }
    [Parameter, EditorRequired]
    public string LockPassword { get; set; }
}
